@import "tailwindcss";
#root {
  min-width: 100vw;
  min-height: 100vh;
  /* margin: 0 auto; */
  text-align: center;
  display: flex;
  background-color: white
}


.edit-btn{
  padding : 10px 5px;
  background-color: rgb(211, 211, 0);
  color: white;
  width: 50px;
  height: 50px;
}

.delete-btn{
  padding : 10px 5px;
  background-color: red;
  color: white;
  width: 50px;
  height: 50px;
}

.searchBar {
  border-radius: 10px;
  padding: 10px 5px;
  color: black;
  border: solid 2px black;
  margin-right: 5px;
}